extends layout

block content
  #screen
    h1.pull-right Long Range Navigational Scan 94103

    .button-test
      .button 3423
      .button.rounded-left.color5 233
      .button.color3.height2 677
      .button.rounded.color7.shift1 22331
