extends layout

block content
  #screen
    #fullscreen
      header
        h2.pull-right System Monitor 857

      section#fullscreen-content
        .federation-logo
        div(style='margin-bottom: 80px;')
          h1 Incoming Transmission
          h3.color6(style='margin-top: 20px;') Starfleet Command &#8226; Authorized access only

      footer
        h2 Main Bridge
