extends layout

block content
  .screen-container
    .transmission-container
      header
        h2.pull-right= screenName

      section.transmission-body
        .federation-logo
        div(style='margin-bottom: 60px; margin-top: 20px')
          h1= mainLabel
          h3.color6(style='margin-top: 20px;') Starfleet Command &#8226; Authorized access only

      footer
        h2= locationName
