color-1 = #ffff99
color-2 = #ffcc66
color-3 = #ff9933
color-4 = #664466
color-5 = #cc99cc
color-6 = #99ccff
color-7 = #3366cc
color-8 = #006699
black   = #090909

button-width      = 150px
button-height     = 60px
button-spacing    = 5px

subtitle-height   = 40px
font-multiplier   = 1.40

*
  box-sizing border-box


@font-face
  font-family 'lcars'
  src url('/fonts/HelveticaLTStd-UltraComp.otf') format('opentype')
  font-weight normal
  font-style normal

html, body
  width 100%
  height 100%
  overflow hidden

html
  background-color black
  padding 10px
  font-family 'lcars'
  font-size 20px
  -webkit-font-smoothing antialiased
  user-select none

body
  display flex
  margin 0

.screen-container
  width 100%
  height 100%

h1, h2, h3, h4, h5, h6
  color color-3
  padding 0 10px
  background-color black
  margin 0
  text-transform uppercase
  font-weight normal

font-fix(font-size)
  font-size font-size * font-multiplier
  height font-size
  line-height 1em

h1
  font-fix(60px)
h2
  font-fix(subtitle-height)
h3
  font-fix(30px)


.pull-right
  text-align right

.bars
  position relative
  width 100%
  height subtitle-height
  background-color color-5
  border-radius (subtitle-height / 2)
  white-space nowrap
  padding 0 subtitle-height
  display flex
  flex-direction row

  &::before
    position absolute
    content ''
    width 8px
    height subtitle-height
    background-color black
  &::after
    position absolute
    content ''
    width 8px
    height subtitle-height
    background-color black
    right subtitle-height
  h2
    display inline-block
    white-space no-wrap
    &.pull-right
      position absolute
      right subtitle-height

.transmission-container
  display flex
  flex-direction column
  align-items center
  justify-content center
  width 100%
  height 100%
  padding 1em

  .transmission-body
    display flex
    flex 1
    flex-direction column
    align-items center
    justify-content center
    width 100%
    overflow hidden
    text-align center
    box-sizing border-box
    padding 40px

  header
    @extend .bars

  footer
    @extend .bars

button-sizing(height)
  height height

.button
  position relative
  width button-width
  background-color color-6
  text-align right
  font-size 1rem
  margin 0 0.20em
  display inline-block
  button-sizing(button-height)
  &.height2
    button-sizing(button-height * 2 + button-spacing)
  .button-label
    position absolute
    bottom 0.2em
    right 20px

.rounded-left
  border-top-left-radius 30px
  border-bottom-left-radius 30px

.rounded-right
  border-top-right-radius 30px
  border-bottom-right-radius 30px

.rounded
  border-radius 30px

.color
  &:hover
    background-color lighten(color-7, 10%)

.color1
  background-color color-1
.color2
  background-color color-2
.color3
  background-color color-3
.color4
  background-color color-4
.color5
  background-color color-5
.color6
  color color-6
.color7
  background-color color-7
.color8
  background-color color-8

.shift1
  animation-name pulse
  animation-duration 6.0s
  animation-timing-function steps(1, start)
  animation-iteration-count infinite
  animation-direction alternate

@keyframes pulse
  0%
    background-color color-7
  33%
    background-color color-7
  66%
    background-color color-6
  100%
    background-color color-6

.federation-logo
  width 600px
  height 600px
  background transparent center center no-repeat url('../img/federation-logo.svg')
  background-size contain

.basic-container
  display flex
  flex-direction column
  height 100%
  h1
    font-size 3.5em

.top-half
  position relative
  height 33%
  min-height 150px
  flex 0 0 auto
  .frame
    border-bottom-left-radius 100px
    .button
      top 0
      bottom 120px
  .content
    top 0
    bottom 16px
    border-bottom-left-radius 60px

.bottom-half
  position relative
  min-height 100px
  flex 1 0 auto
  margin-top 0.25em
  .frame
    border-top-left-radius 100px
    .button
      bottom 0
  .content
    bottom 0
    top 16px
    border-top-left-radius 60px
    padding 0.5em 0 0 1em

.frame
  width 100%
  height 100%
  position absolute
  background-color color-2
  .button
    position absolute
    background-color color-3
    width 160px
    height auto
    margin 0
    border-bottom 0.25em solid black

.content
  position absolute
  left 160px
  background-color black
  top 0
  right 0
  table
    float right
    color color-1
  .button-area
    float right
    width (button-width * 2) + 20px
    margin-left 1em